body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;

}

.text-primary {
  color: #FD6E0A;
}

.btn-primary {
  border-radius: 5px;
  background: #FD6E0A;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description{
  color: #757575;
  text-align: center;
  font-size: 18px;
  
}

.nav-title {
  color: #181818;

  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 51px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f2;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
}

.banner-title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-content {
  max-width: 500px;
}

/* main section styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles */

.about {
  padding: 130px;
  background: #fff8f3;
  margin: 130px 0;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
  
}
.about-info{
  text-align: center;
}